---
import Layout from "../layouts/Layout.astro";
import Hero from '../components/Hero.astro'
import Destinos from '../components/Destinos.astro'
import IntermediateSection from "../components/intermediate-section.astro";
---
<Layout title="Turismo en el Atlántico">
	<main>
		<Hero />
		<Destinos />
		<IntermediateSection />
	</main>
</Layout>