---
import Layout from "../layouts/Layout.astro";
import Hero from '../components/Hero.astro'
import Destinos from '../components/Destinos.astro'
import IntermediateSection from "../components/IntermediateSection.astro";
import Footer from "../components/Footer.astro";
import ContactForm from "../components/ContactForm.astro";
import SobreNosotros from "../components/SobreNosotros.astro";
---
<Layout title="Turismo en el Atlántico">
	<main>
		<Hero />
		<SobreNosotros/>
		<Destinos/>
		<IntermediateSection />
		<ContactForm />
		<Footer />
	</main>
</Layout>

<style>
	.container {
		max-width: 1240px;
		margin: 0 auto;
	}
</style>