<section class="max-w-[1240px] mx-auto" id="sobrenosotros">
    <div class="p-10">
        <h1
            class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900"
        >
            Sobre Nosotros
        </h1>
    </div>
    <div class="max-w-[1000px] mx-auto">
        <div class="flex flex-col lg:flex-row items-center">
            <div class="lg:block lg:w-1/2 p-2 lg:pl-16">
                <img
                    src="https://images.pexels.com/photos/2253445/pexels-photo-2253445.jpeg?auto=compress&cs=tinysrgb&w=600"
                    class="h-64 w-full object-cover rounded-xl"
                    alt="Layout Image"
                />
            </div>
            <div class="lg:w-1/2 mb-6 lg:mb-0 text-center lg:text-left md:max-w-[700px]">
                <p class="text-xl md:text-xl p-2">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Inventore sed ratione repellendus reiciendis id maxime
                    temporibus? Sint, totam magni vel dolore odit temporibus qui
                    delectus beatae optio veritatis eum quo.
                </p>
            </div>
            
        </div>
    </div>
</section>
